Repository r21gh/devops-assignment, changes with the labels that .github/labeler.yml gives for each.
All labels: terraform, helm, docker, github-actions, documentation, python, dependencies, tests

feat(infra): Add Grafana and Prometheus for monitoring
  app/app.py
  helm-charts/templates/prometheus.yaml
  helm-charts/templates/storage.yaml
  helm-charts/values.yaml
  monitoring/grafana/dashboards/flask-app-dashboard.json
  monitoring/prometheus/Dockerfile
  monitoring/prometheus/prometheus.yml
  requirements.txt
  terraform/environments/dev/.terraform.tfstate.lock.info
  terraform/environments/dev/.terraform/modules/modules.json
  terraform/environments/dev/main.tf
  terraform/environments/dev/monitoring/grafana-values.yaml
  terraform/environments/dev/monitoring/prometheus-values.yaml
  terraform/environments/dev/terraform.tfstate
  terraform/environments/dev/terraform.tfstate.backup
  terraform/modules/monitoring/main.tf
  terraform/modules/monitoring/variables.tf
  terraform/modules/monitoring/versions.tf
Labels: terraform, helm, python, dependencies

feat(core): Add the required features for the core functionalities
  .gitignore
  Taskfile.yml
  helm-charts/Chart.lock
  helm-charts/Taskfile.yml
  helm-charts/values.yaml
  terraform/.tflint.hcl
  terraform/README.md
  terraform/Taskfile.yml
  terraform/environments/dev/README.md
  terraform/environments/dev/locals.tf
  terraform/environments/dev/main.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/dev/providers.tf
  terraform/environments/dev/terraform.tfvars
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/environments/prod/README.md
  terraform/environments/prod/locals.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/outputs.tf
  terraform/environments/prod/providers.tf
  terraform/environments/prod/terraform.tfvars
  terraform/environments/prod/terraform.tfvars.example
  terraform/environments/prod/variables.tf
  terraform/environments/stage/README.md
  terraform/environments/stage/locals.tf
  terraform/environments/stage/main.tf
  terraform/environments/stage/outputs.tf
  terraform/environments/stage/providers.tf
  terraform/environments/stage/terraform.tfvars
  terraform/environments/stage/terraform.tfvars.example
  terraform/environments/stage/variables.tf
  terraform/modules/helm-release/README.md
  terraform/modules/helm-release/locals.tf
  terraform/modules/helm-release/main.tf
  terraform/modules/helm-release/outputs.tf
  terraform/modules/helm-release/providers.tf
  terraform/modules/helm-release/variables.tf
Labels: terraform, helm, documentation

feat(docs): Add the required readmefile
  README.md
  Taskfile.yml
  helm-charts/Chart.lock
  terraform/environments/dev/monitoring-values.yaml
Labels: terraform, helm, documentation

feat(workflows): Add dependabot and update workflows
  .github/dependabot.yml
  .github/workflows/assign.yml
  .github/workflows/ci.yaml
  .github/workflows/terraform.yml
  .github/workflows/trivy.yml
Labels: github-actions

feat(workflows): Add dependabot and update workflows
  .github/dependabot.yml
  .github/workflows/agentic-ai.n8n.json
  .github/workflows/assign.yml
  .github/workflows/ci.yaml
  .github/workflows/terraform.yml
  .github/workflows/trivy.yml
  README.md
Labels: github-actions, documentation

feat(chore): Add agentic AI documents and code
  .github/workflows/agentic-ai.n8n.json
  README.md
  agentic-ai/agentic-ai-n8n.png
  agentic-ai/agentic-ai.n8n.json
Labels: github-actions, documentation

feat(docs): Update the readme file
  README.md
Labels: documentation

fix(ci): Update the image name to prevent duplication
  .github/workflows/ci.yaml
  README.md
Labels: github-actions, documentation

feat(ci): Update the ci for docker hub
  .github/workflows/ci.yaml
  README.md
Labels: github-actions, documentation

feat(ci): Update the ci for docker hub
  .github/workflows/ci.yaml
Labels: github-actions

feat(docs): Update README.md to add workflow badges
  README.md
Labels: documentation

.github/labeler.yml:

terraform:
  - terraform/**/*

helm:
  - helm-charts/**/*

docker:
  - Dockerfile
  - .dockerignore

github-actions:
  - .github/**/*

documentation:
  - '**/*.md'
  - docs/**/*

python:
  - '**/*.py'
  - requirements.txt

dependencies:
  - requirements.txt
  - go.mod
  - go.sum
  - package.json
  - package-lock.json

tests:
  - '**/test_*.py'
  - '**/tests/**/*'
  - '**/*_test.go'
